
#header h1 {
	width: 90%;
	text-align: center;
	background-color: #336699;
	color: white;
	border-top: 6px solid #500;
	border-bottom: 6px solid #500;
	padding: 8px 20px;
	clear: both;
	font-size: larger;
}


#content p {
	width: 90%;
}

#content .box {
	width: 30%;
}

#footer {
	background-color: #336699;
}