<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
 
  <!-- To enable JMX Management -->
  <jmxConfigurator/>
 
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%.-1level|%-40.40logger{0}|%msg%n</pattern>
<!--       %-4relative [%thread] %-5level %class - %msg%n -->
    </encoder>
  </appender>
  
  <!--Daily rolling file appender -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<File>cpath2.log</File>
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<FileNamePattern>cpath2.%d{yyyy-MM-dd}.log</FileNamePattern>
	</rollingPolicy>

	<layout class="ch.qos.logback.classic.PatternLayout">
		<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
	</layout>
  </appender>
 
  <logger name="org.biopax" level="warn" />
  <logger name="org.springframework" level="info" />
  <logger name="org.hibernate" level="warn" />
  <logger name="com.mchange" level="warn" />
  <logger name="net.sf.ehcache" level="info" />
  <logger name="org.obo" level="warn" />
  <logger name="java.sql" level="warn" />
 
  <root level="warn">
    <appender-ref ref="console" />
<!--     <appender-ref ref="file" /> -->
  </root>
</configuration>