<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="cPathSquaredWs" version="2.5">
	<display-name>cPath^2 Webservices</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>cpath2.root</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext-cpathDAO.xml
			classpath:applicationContext-whouseDAO.xml
			<!-- not required anymore (- trying one cpathService per DAO, if more than one are required at all)
			classpath:applicationContext-whouseMolecules.xml
			classpath:applicationContext-whouseProteins.xml
			classpath:applicationContext-cvRepository.xml
			-->
			classpath:applicationContext-cpathService.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>cpath2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cpath2</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cpath2json</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cpath2json</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

</web-app>
