<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!--Daily rolling file appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>cpath2.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>cpath2.%d{yyyy-ww}.log.gz</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger{25} - %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <logger name="psidev.psi.mi" level="error"/>
    <logger name="org.biopax.paxtools.impl" level="error"/>
    <logger name="org.apache.tomcat.util.scan" level="error"/>

    <root level="info">
        <appender-ref ref="file"/>
    </root>

</configuration>