<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <context:annotation-config/>
    
   	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="false" />
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="locations">
			<value>classpath:cpath.properties</value>
		</property>
	</bean>
       
    <bean id="whouseSessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="whouseDataSource"/>
        <property name="hibernateProperties">
		  <props>
			<prop key="hibernate.hbm2ddl.auto">${hbm2ddl.mode}</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.format_sql">true</prop>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
			<prop key="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</prop>
			<prop key="hibernate.search.default.indexBase">${lucene.index-path}</prop>
		  </props>
        </property>
        <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration"/>
		<property name="packagesToScan" value="cpath.warehouse.beans" /> 
    </bean>

    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="whouseTransactionManager"/>
    
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="whouseDataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
      <property name="url" value="jdbc:mysql://localhost/${wdb.name}" />
      <property name="user" value="${db.user}" />
      <property name="password" value="${db.password}" />
    </bean>
    
    <bean id="whouseTransactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="whouseSessionFactory" />
    </bean>

	<bean id="pathwayDataJDBCServices" class="cpath.warehouse.pathway.internal.PathwayDataJDBCServicesImpl" dependency-check="objects">
        <property name="dbUser" value="${db.user}"/>
        <property name="dbPassword" value="${db.password}"/>
        <property name="dbDataSource" value="${wdb.datasource}"/>
        <property name="dbConnection" value="${wdb.connection}"/>
    </bean>
 
    <bean id="metadataDAO" class="cpath.warehouse.metadata.internal.MetadataHibernateDAO" dependency-check="objects">
        <property name="sessionFactory" ref="whouseSessionFactory"/>
    </bean>

    <bean id="pathwayDataDAO" class="cpath.warehouse.pathway.internal.PathwayDataHibernateDAO" dependency-check="objects">
        <property name="sessionFactory" ref="whouseSessionFactory"/>
    </bean>

    <bean id="cvRepository" class="cpath.warehouse.internal.CvHibernateRepository" dependency-check="objects">
        <property name="sessionFactory" ref="whouseSessionFactory"/>
    </bean>
    
    <bean id="idRepository" class="cpath.warehouse.internal.IdHibernateRepository" dependency-check="objects">
        <property name="sessionFactory" ref="whouseSessionFactory"/>
    </bean>

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

	<bean id="cPathWarehouse" class="cpath.warehouse.internal.CPathWarehouseImpl">
		<constructor-arg ref="cvRepository"/>
		<constructor-arg ref="idRepository"/>
		<constructor-arg ref="moleculesDAO"/>
		<constructor-arg ref="proteinsDAO"/>
	</bean>
	
</beans>
