/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:95% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
background:#e8eaec;
}

a{
color:#467aa7;
background-color:inherit;
}

a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 0.8em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#container{
width:90%;
margin:20px auto;
padding:1px 0;
text-align:left;
background:#ffffff;
color:#303030;
border:2px solid #a0a0a0;
}

#header{
height:120px;
margin:0 1px 0px 1px;
background:#467aa7;
color:#ffffff;
}

#header_content{
float:left;
}

#header h1{
padding:35px 0 0 20px;
font-size:1.8em;
background-color:inherit;
color:#ffffff;
letter-spacing:-2px;
font-weight:normal;
}

#header h2{
margin:10px 0 0 20px;
font-size:1.2em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;
}

#navigation{
height:1.7em;
line-height:1.7em;
margin-top:0px;
margin-bottom:0px;
margin-left:1px;
margin-right:1px;
background:#578bb8;
color:#ffffff;
}


#navigation li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0 10px;
font-size:0.8em;
font-weight:normal;
text-decoration:none;
background-color:inherit;
color: #ffffff;
}

* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover{
background:#80b0da;
color:#ffffff;
text-decoration:none;
}

/**************** Content styles ****************/

#content{
float:left;
width:90%;
font-size:0.9em;
padding:10px 0 0 20px;
}

#content h0{
display:block;
margin:5px 0 5px 0;
font-size:.9em;
font-weight:bold;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#content h1{
display:block;
margin:5px 0 5px 0;
font-size:1.1em;
font-weight:bold;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#content h2{
display:block;
margin:8px 0 5px 0;
padding-left:2px;
font-size:1.0em;
font-weight:bold;
color:#505050;
background-color:#EEEEEE;
}

#content h3{
font-size:0.9em;
font-weight:bold;
display:block;
margin:5px 0 5px 0;
height:1.7em;
line-height:1.7em;
}

#content h4{
display:block;
margin:2px 0 5px 0;
padding-left:2px;
font-size:1.0em;
font-weight:bold;
color:#505050;
background-color:#EEEEEE;
}

#content a:hover,#subcontent a:hover{text-decoration:underline;}
#content ul,#content ol{margin:0 5px 16px 35px;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}

/**************** Sidebar styles ****************/

#subcontent{
float:right;
width:170px;
padding:0px 20px 5px 20px;
font-size:110%;
line-height:1.4em;
}

#subcontent h1{
display:block;
margin:0 0 0 0;
font-size:0.9em;
font-weight:normal;
text-align:left;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#subcontent p{margin:0 0 16px 0; font-size:0.9em;}

/**************** Menublock styles ****************/

.menublock ul {margin:0px; padding:0px; font-size:0.7em;line-height:1.3em;}
.menublock li a{list-style-type:square;font-weight:bold; text-decoration:none;}
.menublock li a:hover{text-decoration:none;}
.menublock li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a{font-weight:normal;}

/**************** Footer styles ****************/

#footer{
clear:both;
padding:5px 0;
margin:0 1px;
font-size:0.7em;
color:#f0f0f0;
background:#467aa7;
}

#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/**************** Misc classes and styles ****************/

.splitcontentleft{float:left; width:20%;}
.splitcontentright{float:right; width:79%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.small_no_bold{
    font-size:0.9em;
    font-weight:normal;
}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}


.box{
margin:0 0 10px 0;
padding-left:5px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

.box h3{
width:100%;
}

.thumbnail_box{
margin:0 0 10px 0;
padding-left:5px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
text-align:center;
}

.thumbnail_box h3{
width:100%;
text-align:left;
}

.thumbnail_caption{
text-align:left;
}

/**************** section styles ****************/

.section{
clear:both;
width:100%;
padding:5px 5px 5px 5px;
font-size:0.9em;
color:#f0f0f0;
background:#578bb8;
border:1px solid #467aa7;
font-size:110%;
font-weight:bold;
}

/********** Extra Styles that extend andreas08.css **********/
#logo {
	padding:20px 5px 5px 5px;
}

.section a{
font-size:0.8em;
font-weight:normal;
text-transform:uppercase;
text-decoration:underline;
background-color:inherit;
color: #ffffff;
}

table td{
line-height:1.7em;
padding-left:2px;
}

table th {
line-height:1.7em;
background-color:#DDDDDD;
padding: 2px 2px 2px 2px;
font-size:90%;
}

.xdebug td{
    font-size:80%;
}

.splitcontentleft ul {list-style-type:square; margin-left:0px; font-size:85%; line-height:1.2em}
.splitcontentleft li {margin-left:-20px;padding-left:0px}
.splitcontentleft p {font-size:85%;line-height:1.0em}
.splitcontentleft h3 a {color:#ffffff !important; font-size:90%;}
.splitcontentleft h3 a:visited {color:#ffffff !important;}
.splitcontentleft h3 a:hover{color:#ffffff}

.user_message {
    color:#880000;
    padding: 3px 3px 3px 3px;
    background: #EEEEEE;
    margin-bottom:10px;
}


.large_search_box {
	margin: 2px 5px 15px 0px;
    border: 1px solid #000000;
    padding: 5px 20px 5px 20px;
    background: #CCCCFF;
}

.large_search_box h1 {
   font-size:130%;
}

.large_search_box input {
   #font-size:90%;
   margin-bottom:7px;
}

.home_page_box {
	/* margin:  top, right, bottom, left */
    margin: 10px 5px 5px 0px;
	border: 1px solid #DDDDDD;
	padding: 5px 5px 5px 5px;
}

#demo {
width:100%; /* arbitrary width */
}

#demo .loading * {
display:none;
}

.button {
font-size:100% !important;
text-decoration:underline !important;
cursor:pointer !important;
}

.record_page_category a:hover {color: black !important;}
.record_page_category a:active {color: black !important;}

.small {
    font-size:85%;
}

/* Data Source Details */
.details {
  font-size:85%;
  line-height:1.2em;
  display:none;
}

.details ul {list-style-type:square; margin-bottom:0px !important}
.details li {margin-left:-20px;padding-left:0px}
.details p {margin-top: 4px;}

/* Entity Summary, e.g. summary of interaction details */
.entity_summary {
    font-size:100%;
}

.component {
    font-size:100%;
    line-height:1.8em;
}

.component a {
   border-bottom-style: dotted;
   border-bottom-width: thin;
   text-decoration: none;
}

.yui-nav {
  font-size:85%;
  margin-left:0px !important;
  margin-bottom:0px !important;
}

/* Customized Pop up Boxes for Overlib */
/* Customized Pop up Boxes for Overlib */
.popup {
     background:  #ccccff;
     font-size:70%;
     padding: 0px 0px 0px 0px;
     border: 1px solid #036;
     text-align:left;
     line-height:1.5em;
}

.popup_caption {
    background-color: #036;
    color:  #FFFFFF;
    margin: 0px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    font-weight:bold
}

.popup_text {
 	margin: 0px 5px 5px 5px;
}

.popup_text ul {
     padding-left: 20px;
     list-style-type:square;
}

.popup_organism {
    color:  lightgreen;
}

.neighborhood_map {
    margin-top: 5px;
    margin-left: 10px;
    margin-right:  5px;
}

.data_source {
    font-size:85%;
    padding-left:5px;
    padding-right:5px;
}

.toggle_details {
    cursor:pointer;
    margin-left:5px;
    margin-top:6px;
}

.toggle_details_text {
    cursor:pointer;
}

.search_buttons {
    margin-bottom: 10px;
}

.search_buttons a {color:#ffffff !important;}

.search_fragment {
    font-size:85%;
    line-height:1.2em;
    margin-top:10px;
    margin-bottom:10px;
}
.search_fragment ul {list-style-type:square; margin-bottom:0px !important}
.search_fragment li {margin-left:-20px;padding-left:0px;padding-top:4px;}
.search_fragment p {margin-top: 6px;}

#comment_remainder {
    display:none;
}

#toggleCommentImage img {
    padding-left:10px;
}

.scoreboard {
    background-color:#dddddd;
    padding-top:7px;
}

#content srp{
font-size:0.9em;
font-weight:normal;
display:block;
margin:5px 0 5px 0;
padding-left:5px;
height:1.7em;
line-height:1.7em;
background-color:#578bb8;
color:#ffffff;
}

#content srp a:hover,#subcontent a:hover{color:white;text-decoration:underline;}

.a td {
	background: #ddd;
    font-size:85%;
}

.b td {
	background: #efefef;
    font-size:85%;
}

.c td {
    font-size:85%;
}

.datasource_table  {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: solid solid solid solid;
	border-color: #CCCCCC;
	border-collapse: collapse;
	background-color: #FFFFFF;
    margin-bottom:10px;
}

.datasource_logo_table_cell {
	width: 125px;
	height: 60px;
	valign: top;
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

.datasource_link_table_cell {
	padding-left:20px;
}

.datasource_homepage_table  {
	background-color: #FFFFFF;
    margin-bottom:10px;
}

.psi_td {
	background: #EEEEEE;
    font-size:85%;
}

.control_verb {
    font-size:80%;
    text-transform:uppercase;
}

.splitcontentleft h3 a {color:#ffffff !important; font-size:90%;}

#tagline{
float:right;
width:60%;
padding: 30px 0px 0px 0px;
margin:0 0 20px 0;
}

#tagline a{
color:#FFFFFF;
}

/* YUI:  tabs.css */
/* default space between tabs */
.yui-navset-top .yui-nav li, .yui-navset-bottom .yui-nav li {
    margin-right:0.5em; /* horizontal tabs */
}
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li {
    margin-bottom:0.5em; /* vertical tabs */
}

.yui-navset .yui-nav li em { padding:.5em; } /* default tab padding */

/* default width for side tabs */
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav { width:6em; }
.yui-navset-left { padding-left:6em; } /* map to nav width */
.yui-navset-right { padding-right:6em; } /* ditto */

/* core */

.yui-nav, .yui-nav li {
    margin:0;
    padding:0;
    list-style:none;
}
.yui-navset li em { font-style:normal; }

.yui-navset {
    position:relative; /* contain absolute positioned tabs (left/right) */
    zoom:1;
}

.yui-navset .yui-content { zoom:1; }

.yui-navset-top .yui-nav li, .yui-navset-bottom .yui-nav li {
    display:inline-block;
    display:-moz-inline-stack;
    display:inline; /* IE */
    vertical-align:bottom; /* safari: for overlap */
    cursor:pointer; /* gecko: due to -moz-inline-stack on anchor */
    zoom:1; /* IE: kill space between horizontal tabs */
}

.yui-navset .yui-nav a {
    outline:0; /* gecko: keep from shifting */
}

.yui-navset .yui-nav a { position:relative; } /* IE: to allow overlap */

.yui-navset .yui-nav li a {
    display:block;
    zoom:1;
}

.yui-navset-top .yui-nav li a, .yui-navset-bottom .yui-nav li a {
    display:inline-block;
    vertical-align:bottom; /* safari: for overlap */
}

.yui-navset-bottom .yui-nav li a {
    vertical-align:text-top; /* for inline overlap (reverse for Op border bug) */
}

.yui-navset .yui-nav li a em { display:block; }

/* position left and right oriented tabs */
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav { position:absolute; z-index:1; }
.yui-navset-left .yui-nav { left:0; }
.yui-navset-right .yui-nav { right:0; }

/*  YUI:  border_tabs.css  */
.yui-navset .yui-nav li a, .yui-navset .yui-content {
    border:1px solid #000;  /* label and content borders */
}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav a:hover, .yui-navset .yui-content {
    background-color:#f6f7ee; /* active tab, tab hover, and content bgcolor */
}

.yui-navset-top .yui-nav .selected a {
    #border-bottom:0; /* no bottom border for active tab */
    #padding-bottom:1px; /* to match height of other tabs */
}

.yui-navset-top .yui-content {
    margin-top:-1px; /* for active tab overlap */
}

.yui-navset-bottom .yui-nav .selected a {
    border-top:0; /* no bottom border for active tab */
    padding-top:1px; /* to match height of other tabs */
}

.yui-navset-bottom .yui-content {
    margin-bottom:-1px; /* for active tab overlap */
}

.yui-navset-left .yui-nav li.selected a {
    border-right:0; /* no bottom border for active tab */
    padding-right:1px; /* to match height of other tabs */
}

.yui-navset-left .yui-content {
    margin-left:-1px; /* for active tab overlap */
}

.yui-navset-right .yui-nav li.selected a {
    border-left:0; /* no bottom border for active tab */
    padding-left:1px; /* to match height of other tabs */
}

.yui-navset-right .yui-content {
    margin-right:-1px; /* for active tab overlap */
    *margin-right:0; /* except IE */
}

/* YUI:  Container.css */
/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
Version 0.11.0
*/

.overlay {
	position:absolute;
	display:block;
}

.tt {
	visibility:hidden;
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
}

* html body.masked select {
	visibility:hidden;
}

* html div.panel-container select {
	visibility:inherit;
}

* html div.drag select {
	visibility:hidden;
}

* html div.hide-select select {
	visibility:hidden;
}

.mask {
    z-index:0;
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#CCC;
}

.hide-scrollbars * {
	overflow:hidden;
}

.hide-scrollbars textarea, .hide-scrollbars select {
	overflow:hidden;
	display:none;
}

.show-scrollbars textarea, .show-scrollbars select {
	overflow:visible;
}

.panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.panel-container.matte .underlay {
	display:none;
}

.panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
	zoom:1;
}

.panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:#FFF;
	border:1px solid #AAAAAA;
	z-index:1;
	overflow:hidden;
}

.panel .hd {
	background-color:#3d77cb;
	color:#FFF;
	font-size:100%;
	line-height:100%;
	border:1px solid #FFF;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}

.panel .bd {
	overflow:hidden;
	padding:4px;
    color:black;
}

.panel .url_box {
    margin-top: 5px;
    margin-bottom:10px;
}

.panel .bd p {
	margin:0 0 1em;
}

.panel .close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
}

.panel .close.nonsecure {
	background-image:url(http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .close.secure {
	background-image:url(https://a248.e.akamai.net/sec.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .ft {
	padding:4px;
	overflow:hidden;
}

.simple-dialog .bd .icon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.dialog .ft, .simple-dialog .ft {
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

.dialog form, .simple-dialog form {
	margin:0;
}

.button-group button {
	font:100 76% verdana;
	text-decoration:none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:2px;
	padding:2px;
}

.button-group button.default {
	font-weight:bold;
}

.button-group button:hover, .button-group button.hover {
	border:2px solid #90A029;
	background-color:#EBF09E;
	border-top-color:#FFF;
	border-left-color:#FFF;
}

.button-group button:active {
	border:2px solid #E4E4E4;
	background-color:#BBB;
	border-top-color:#333;
	border-left-color:#333;
}

/* YUI:  Logger.css */
/* logger default styles */

/* font size is controlled here: default 77% */

#yui-log {position:absolute;top:1em;right:1em;font-size:77%;text-align:left;}

/* width is controlled here: default 31em */

.yui-log {padding:1em;width:31em;background-color:#AAA;border:1px solid black;font-family:monospace;z-index:9000;}

.yui-log p {margin:1px;padding:.1em;}

.yui-log button {font-family:monospace;}

.yui-log .yui-log-hd {margin-top:1em;padding:.5em;background-color:#575757;color:#FFF;}

/* height is controlled here: default 20em*/

.yui-log .yui-log-bd {width:100%;height:20em;background-color:#FFF;border:1px solid gray;overflow:auto;}

.yui-log .yui-log-ft {margin-top:.5em;margin-bottom:1em;}

.yui-log .yui-log-ft .yui-log-categoryfilters {}

.yui-log .yui-log-ft .yui-log-sourcefilters {width:100%;border-top:1px solid #575757;margin-top:.75em;padding-top:.75em;}

.yui-log .yui-log-btns {position:relative;float:right;bottom:.25em;}

.yui-log .yui-log-filtergrp {margin-right:.5em;}

.yui-log .info {background-color:#A7CC25;} /* A7CC25 green */

.yui-log .warn {background-color:#F58516;} /* F58516 orange */

.yui-log .error {background-color:#E32F0B;} /* E32F0B red */

.yui-log .time {background-color:#A6C9D7;} /* A6C9D7 blue */

.yui-log .window {background-color:#F2E886;} /* F2E886 tan */

/* YUI:  autocomplete.css */
/* styles for entire widget */
.yui-skin-sam .yui-ac {
    position:relative;font-family:arial;font-size:100%;
}

/* styles for input field */
.yui-skin-sam .yui-ac-input {
    position:absolute;width:100%;
}

/* styles for results container */
.yui-skin-sam .yui-ac-container {
    position:absolute;top:1.6em;width:100%;
}

/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
    position:absolute;width:50%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;
}

/* styles for container shadow */
.yui-skin-sam .yui-ac-shadow {
    position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}

/* styles for results list */
.yui-skin-sam .yui-ac-content ul {
    margin:0;padding:0;width:100%;list-style:none;
}

/* styles for result item */
.yui-skin-sam .yui-ac-content li {
    margin:0;padding:2px 5px;cursor:default;white-space:nowrap;margin-left:-35px;
}

/* styles for prehighlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#B3D4FF;
}

/* styles for highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#426FD9;color:#FFF;
}

