<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <context:annotation-config/>

    <bean id="providerMetadataService" class="cpath.fetcher.metadata.internal.ProviderMetadataServiceImpl"/>

	<bean id="cvTermsFetcher" class="org.biopax.validator.utils.CvTermsFetcher">
		<constructor-arg value="classpath:ontologies.xml"/>
	</bean>

	<bean id="cvFetcher" class="cpath.fetcher.cv.CvFetcher">
		<constructor-arg ref="cvTermsFetcher"/>
		<constructor-arg ref="biopaxIdUtils"/>
	</bean>
	
	<!-- all AbstractCvRule beans are required to inject into the cvFetcher -->
	<context:component-scan base-package="org.biopax.validator.rules">
		<context:include-filter type="assignable" expression="org.biopax.validator.impl.AbstractCvRule"/>
	</context:component-scan>
	
</beans>