/*prevent navbar overlapping with content*/
#content {padding-top: 70px; padding-bottom: 70px;}

.navbar strong {color: red;}

.navbar-brand img {width: 33px; height: 33px;}

img.datasource-logo {width: 100px; height: 50px;}

.thumbnail li {white-space: nowrap; display: compact;}

