<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
 
  <!-- To enable JMX Management -->
  <jmxConfigurator/>
 
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%.-1level|[%thread]|%-40.40logger{0}|%msg%n</pattern>
<!--       <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern> -->
    </encoder>
  </appender>
 
  <logger name="cpath" level="info" />
  <logger name="org.biopax" level="info" />
  <logger name="org.springframework" level="warn" />
  <logger name="org.hibernate" level="warn" />
  <logger name="com.mchange" level="warn" />
  <logger name="net.sf.ehcache" level="warn" />
  <logger name="org.obo" level="warn" />
  <logger name="java.sql" level="warn" />
 
  <root level="info">
    <appender-ref ref="console" />
  </root>
</configuration>